// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@font-face {
    font-family: utsmani;
    src: url(/fonts/utsmani.otf);
}

.lead {
    font: 15px / 1.4 sans-serif;
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
    font-weight: 400;
}

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }

    .vote {
        width: 60px;
        height: 60px;
    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $green;
            color: $green;
        }

        &.answered-accepted {
            background: $green;
            color: $white;
        }
    }

    .view {
        margin-top: 10px;
    }
}

.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;

    span, a {
        display: block;
    }

    span {
        &.votes-count {
            font-size: 25px;
        }

        &.favorites-count {
            font-size: 12px;
        }
    }

    a {
        cursor: pointer;
        color: $gray-600;

        &.off, &.off:hover {
            color: $gray-500;
        }

        &.favorite {
            &.favorited, &.favorited:hover {
                color: $warning;
            }
        }
    }

    &.vote-accepted {
        color: $green;
    }
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
}

.stylish-color-dark {
    background-color: #3e4551 !important;
    color: $white
}

p.arabic-text, .arabic {
    direction: rtl;
    text-align: justify;
    font-family: utsmani;
    font-size: 14pt;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

@media only screen and (min-width: 320px) {
    pre {
        width: 300px;
    }
}

@media only screen and (min-width: 450px) {
    pre {
        width: 400px;
    }
}
@media only screen and (min-width: 600px) {
    pre {
        width: 550px;
    }
}

.post-content-inner h2 a{
    color: #050505;
    font-size: 16pt;
}
.post-title{
    color: #050505;
    font-size: 14pt;
}
.post-content{
    font-size: .9375rem;
    font-family: inherit;
}
.post-content img{
    max-width: 100%;
}
.comment-title{
    border-bottom: 5px solid #38c172;
}
[v-cloak]{
    display: none;
}
.popular-post li{
    list-style: url("/images/hand_arrow.png");
    padding-bottom: 15px;
}
input[type=radio] {
    float: left;
}
label {
    margin-left: 30px;
    display: block;
}
figure{
    display: table;
    margin: 0 auto 0.55em
}
figcaption{
    background: #eee;
    text-align: center;
    padding: 5px;
    font-size: 10pt;
}
